<h1>Reference list</h1>
<ol>
    <li id="ref1">{% include ref.html url="http://aceproject.org/electoral-advice/archive/questions/replies/269929775" title="Bonus seats to largest party in Greek election" date="7 May 2012" accessdate="4 July 2019" author="ACE Facilitators" website="aceproject.org" publisher="The Electoral Knowledge Project" %}</li>
    <li id="ref2">{% include ref.html url="https://www.merriam-webster.com/dictionary/proportional%20representation" title="Proportional Representation" website="www.merriam-webster.com" publisher="Merriam-Webster, Incorporated" date="2018" accessdate="4 July 2019" %}</li>
</ol>