{% for row in site.data.sysofgov.body %}
	<tr>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none;;">
						<a href="https://en.wikipedia.org/wiki/{{ row.country }}" link="_blank">
							{{ row.country }}
						</a>
					</span>
				</font>
			</p>
		</td>
		{% if row.lower-house %}
		<td valign="top" style="background: transparent;" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						<a href="https://en.wikipedia.org/wiki/{% if row.legislature-art %}{{ row.legislature-art }}{% else %}{{ row.legislature }}{% endif %}" link="_blank">
							{{ row.legislature }}
						</a>
					</span>
				</font>
			</p>
		</td>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						<a href="https://en.wikipedia.org/wiki/{% if row.lower-house-art %}{{ row.lower-house-art }}{% else %}{{ row.lower-house }}{% endif %}" link="_blank">
							{{ row.lower-house }}
						</a>
					</span>
				</font>
			</p>
		</td>
		{% else %}
		<td colspan="2" valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="center" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						<a href="https://en.wikipedia.org/wiki/{% if row.legislature-art %}{{ row.legislature-art }}{% else %}{{ row.legislature }}{% endif %}" link="_blank">
							{{ row.legislature }}
						</a>
					</span>
				</font>
			</p>
		</td>
		{% endif %}
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{% if row.lower-house-app %}
						{% if row.lower-house-app-art %}<a href="https://en.wikipedia.org/wiki/{{ row.lower-house-app-art }}" link="_blank">
							{{ row.lower-house-app }}
						</a>{% else %}{{ row.lower-house-app }}{% endif %}
						{% elsif row.legislature-app %}
						<a href="https://en.wikipedia.org/wiki/{{ row.legislature-app-art }}" link="_blank">
							{{ row.legislature-app }}
						</a>
						{% endif %}
					</span>
				</font>
			</p>
		</td>
		{% if row.upper-house %}
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						<a href="https://en.wikipedia.org/wiki/{% if row.upper-house-art %}{{ row.upper-house-art }}{% else %}{{ row.upper-house }}{% endif %}" link="_blank">
							{{ row.upper-house }}
						</a>
					</span>
				</font>
			</p>
		</td>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{% if row.upper-house-app-art %}<a href="https://en.wikipedia.org/wiki/{{ row.upper-house-app-art }}" link="_blank">
							{{ row.upper-house-app }}
						</a>{% else %}{{ row.upper-house-app }}{% endif %}
					</span>
				</font>
			</p>
		</td>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{{ row.house-powers }}
					</span>
				</font>
			</p>
		</td>
		{% else %}
		<td colspan="3" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<p align="center" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">No upper house{% if row.upper-house-abolition-date %} since {{ row.upper-house-abolition-date }}{% endif %}</span>
				</font>
			</p>
		</td>
		{% endif %}
	</tr>
	{% endfor %}