<table id = "table1" cellpadding="4" cellspacing="0" style="page-break-after: avoid">
	<!--120-->
	<col width="{{ site.data.states-and-territories.entity-width }}"/>

    <!--120-->
	<col width="{{ site.data.states-and-territories.type-width }}"/>

	<!--120-->
	<col width="{{ site.data.states-and-territories.const-width }}"/>

    <!--120-->
	<col width="{{ site.data.states-and-territories.time-zone-width }}"/>

    <!--120-->
    <col width="{{ site.data.states-and-territories.area-width }}"/>

    <!--120-->
    <col width="{{ site.data.states-and-territories.population-width }}"/>

	<!--300-->
	<col width="{{ site.data.states-and-territories.refrequirement-width }}"/>

	<!--400-->
	<col width="{{ site.data.states-and-territories.legislature-width }}"/>

	<!--180-->
	<col width="{{ site.data.states-and-territories.lower-house-width }}"/>

    <!--180-->
    <col width="{{ site.data.states-and-territories.lower-house-members-no-width }}"/>

    <!--180-->
    <col width="{{ site.data.states-and-territories.lower-house-term-length-width }}"/>
    
	<!--245-->
	<col width="{{ site.data.states-and-territories.lower-house-app-method-width }}"/>

	<!--140-->
    <col width="{{ site.data.states-and-territories.upper-house-width }}"/>

    <!--180-->
	<col width="{{ site.data.states-and-territories.upper-house-members-no-width }}"/>

    <col width="{{ site.data.states-and-territories.upper-house-term-length-width }}"/>

	<col width="{{ site.data.states-and-territories.upper-house-app-method-width }}"/>

	<col width="{{ site.data.states-and-territories.house-powers-width }}"/>


	<!--<col width="400"/>-->

	<tr valign="top">
		<td colspan="17" style="background: transparent; border-bottom: none; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0.1cm; padding-bottom: 0.0cm; padding-left: 0.5cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 20pt;">
					<b>
						{{ site.data.states-and-territories.caption }}
					</b>
				</font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Entity</span>
					</b>
				</font>
			</p>
		</td>
        <td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Type</span>
					</b>
				</font>
			</p>
        </td>
        <td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
            <p align="left" style="font-style: normal; text-decoration: none">
                <font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
                    <b>
                        <span style="text-decoration: none">Const.</span>
                    </b>
                </font>
            </p>
        </td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Time zone</span>
					</b>
				</font>
			</p>
        </td>
        <td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
             <p align="left" style="font-style: normal; text-decoration: none">
                   <font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
                     <b>
                         <span style="text-decoration: none">Area (sq km)</span>
                     </b>
                   </font>
             </p>
        </td>
        <td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <p align="left" style="font-style: normal; text-decoration: none">
                      <font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
                        <b>
                            <span style="text-decoration: none">Population</span><br/>(2016)
                        </b>
                      </font>
                </p>
        </td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none"><abbr title="Referendum required?">Ref?</abbr></span>
					</b>
				</font>
			</p>
		</td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Legislature</span>
					</b>
				</font>
			</p>
		</td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">
							<abbr title="Lower house">LH</abbr>
						</span>
					</b>
				</font>
			</p>
		</td>
        <td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none"><abbr title="Number of members of the chamber">#</abbr></span>
					</b>
				</font>
			</p>
        </td>
        <td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Term length</span>
					</b>
				</font>
			</p>
		</td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Electoral system</span>
					</b>
				</font>
			</p>
        </td>
		<td style="background: transparent" style="border: 1px solid #000000; padding: 0.1cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">
                            <abbr title="Upper house">UH</abbr>
						</span>
					</b>
				</font>
			</p>
        </td>
        <td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none"><abbr title="Number of members of the chamber">#</abbr></span>
					</b>
				</font>
			</p>
        </td>
        <td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Term length</span>
					</b>
				</font>
			</p>
		</td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Electoral system</span>
					</b>
				</font>
			</p>
		</td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Relative legislative powers of the houses</span>
					</b>
				</font>
			</p>
		</td>
	</tr>
	
	{% for row in site.data.states-and-territories.body %}
	<tr>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none;;">
						<a href="https://en.wikipedia.org/wiki/{{ row.entity }}" link="_blank">
							{{ row.entity }}
						</a>{% if row.acronym %}<br/>({{ row.acronym }}){% endif %}
					</span>
				</font>
			</p>
		</td>
        <td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none;;">
						{{ row.type }}
					</span>
				</font>
			</p>
        </td>
        <td valign="top" style="background: transparent;" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
            <p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
                <font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
                    <span style="text-decoration: none">
                        <a href="{{ row.constitution }}" link="_blank">
                               Link
                        </a>
                    </span>
                </font>
            </p>
        </td>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none;;">
						{{ row.time-zone }}
					</span>
				</font>
			</p>
        </td>
        <td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
            <p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
                <font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
                    <span style="text-decoration: none;;">
                        {{ row.area }}
                    </span>
                </font>
            </p>
        </td>
        <td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000;border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
            <p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
                <font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
                    <span style="text-decoration: none;;">
                         {{ row.population }}
                    </span>
                </font>
            </p>
        </td>
        {% if row.refrequirement=="Yes" %}
		<td valign="top" style="background: transparent" style="background-color: green; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; vertical-align: middle;">
        {% elsif row.refrequirement=="Some" %}
        <td valign="top" style="background: transparent" style="background-color: yellow; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; vertical-align: middle;">
        {% elsif row.refrequirement=="No" %}
		<td valign="top" style="background: transparent" style="background-color: red; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm; vertical-align: middle;">
        {% endif %}
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none; text-align:center;">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none;;">
						{{ row.refrequirement }}
					</span>
				</font>
			</p>
		</td>
		{% if row.legislature %}
		<td valign="top" style="background: transparent;" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{% if row.legislature-art %}<a href="https://en.wikipedia.org/wiki/{{ row.legislature-art }}" link="_blank">
							{{ row.legislature }}
						</a>{% endif %}
					</span>
				</font>
			</p>
		</td>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						<a href="https://en.wikipedia.org/wiki/{% if row.lower-house-art %}{{ row.lower-house-art }}{% else %}{{ row.lower-house }}{% endif %}" link="_blank">
							{{ row.lower-house }}
						</a>
					</span>
				</font>
			</p>
        </td>
        <td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{{ row.lower-house-members-no }}
					</span>
				</font>
			</p>
        </td>
        <td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{{ row.lower-house-term-length }}
					</span>
				</font>
			</p>
		</td>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{% if row.lower-house-app %}
						{% if row.lower-house-app-art %}<a href="https://en.wikipedia.org/wiki/{{ row.lower-house-app-art }}" link="_blank">
							{{ row.lower-house-app }}
						</a>{% else %}{{ row.lower-house-app }}{% endif %}
						{% elsif row.legislature-app %}
						<a href="https://en.wikipedia.org/wiki/{{ row.legislature-app-art }}" link="_blank">
							{{ row.legislature-app }}
						</a>
						{% endif %}
					</span>
				</font>
			</p>
		</td>
		{% if row.upper-house %}
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						<a href="https://en.wikipedia.org/wiki/{% if row.upper-house-art %}{{ row.upper-house-art }}{% else %}{{ row.upper-house }}{% endif %}" link="_blank">
							{{ row.upper-house }}
						</a>
					</span>
				</font>
			</p>
        </td>
        <td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{{ row.upper-house-members-no }}
					</span>
				</font>
			</p>
        </td>
        <td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{{ row.upper-house-term-length }}
					</span>
				</font>
			</p>
		</td>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{% if row.upper-house-app-art %}<a href="https://en.wikipedia.org/wiki/{{ row.upper-house-app-art }}" link="_blank">
							{{ row.upper-house-app }}
						</a>{% else %}{{ row.upper-house-app }}{% endif %}
					</span>
				</font>
			</p>
		</td>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{{ row.house-powers }}
					</span>
				</font>
			</p>
		</td>
		{% else %}
		<td colspan="5" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<p align="center" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">No upper house{% if row.upper-house-abolition-date %} since {{ row.upper-house-abolition-date }}{% endif %}</span>
				</font>
			</p>
		</td>
		{% endif %}
	</tr>
    {% else %}
    <td colspan="10" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
        <p align="center" style="font-style: normal; font-weight: normal; text-decoration: none">
            <font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
                <span style="text-decoration: none">{{ row.governance }}</span>
            </font>
        </p>
    </td>
	</tr>
    {% endif %}
	{% endfor %}
	<tr valign="top">
		<td colspan="17" style="background: transparent; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="font-size: 20px;"><b>Abbreviations</b></span><br/>
						<!--a/r: accept or reject.-->
                        <b>Const.</b>: Constitution.<br/>
                        <b>FPV</b>: full preferential voting (instant-runoff voting).<br/>
                        <b>LH</b>: lower house.<br/>
                        <b>OPV</b>: optional preferential voting.<br/>
                        <b>Ref</b>: referendum required for any amendment to be made to the entity's constitution. "Some" in this field indicates that amendments to certain sections of the constitution or certain types of amendment require a referendum.<br/>
						<b>STV</b>: single-transferable vote.<br/>
                        <b>UH</b>: upper house.<br/><br/>
                    <span style="font-size: 20px;"><b>References:</b></span><br/>
                    <ol>
						<li id="ref1">{% include ref.html url="https://www.regional.gov.au/territories/ashmore_cartier/index.aspx" accessdate="1 July 2019" date="7 September 2016" website="regional.gov.au" publisher="The Department of Infrastructure, Transport, Cities and Regional Development" title="Ashmore and Cartier Islands" %}</li>
						<li id="ref2">{% include ref.html url="http://www.antarctica.gov.au/about-antarctica/australia-in-antarctica/law" accessdate="25 September 2019" date="15 April 2016" website="antarctica.gov.au" publisher="Department of the Environment and Energy Australian Antarctic Division" title="Australian law" %}</li>
						<li id="ref3">{% include ref.html url="https://www.regional.gov.au/territories/jervis_bay/governanceadministration.aspx" title="Jervis Bay Territory" date="12 June 2019" accessdate="1 July 2019" website="regional.gov.au" publisher="The Department of Infrastructure, Transport, Cities and Regional Development" %}</li>
                        <li id="ref4">{% include ref.html url="https://www.parliament.nsw.gov.au/la/proceduralpublications/Documents/Fact%20Sheet%202%20-%20What%20does%20the%20Legislative%20Assembly%20do.PDF" accessdate="30 June 2019" website="www.parliamentary.nsw.gov.au" title="Factsheet No. 2 –What does the Legislative Assembly do?" publisher="Legislative Assembly" %}</li>
                        <li id="ref5">{% include ref.html url="https://ntec.nt.gov.au/elections/NT-Legislative-Assembly-elections/voting-and-counting" date="24 September 2018" accessdate="30 June 2019" author="Northern Territory Electoral Commission" website="ntec.nt.gov.au" title="Voting and counting" %}</li>
                        <li id="ref6">{% include ref.html url="https://www.ecq.qld.gov.au/voters-and-voting/voting-system/full-preferential-voting" title="Full Preferential Voting" website="ecq.qld.gov.au" publisher="Electoral Commission Queensland" date="29 June 2019" accessdate="30 June 2019" %}</li>
						<li id="ref7">{% include ref.html url="https://www.tec.tas.gov.au/Info/VotingSystems.html" date="October 2016" accessdate="10 July 2019" author="Tasmanian Electoral Commission" website="tec.tas.gov.au" publisher="Tasmanian Electoral Commission" title="Voting Systems in Tasmania" %}</li>
						<li id="ref8">{% include ref.html url="https://www.elections.wa.gov.au/vote/voting-systems-wa" accessdate="1 July 2019" website="www.elections.wa.gov.au" publisher="Western Australian Electoral Commission" title="Voting Systems in WA" %}</li>
                    </ol>
				</font>
			</p>
		</td>
	</tr>
</table>
<p><br/>
<br/>