<ul>
    <li>
        {% include wp.html link="Presidential system" f="b" puncr="," %} where the president is not subject to votes of no confidence by the legislature and serves as both head of state and head of government:
            <ol>
                <li><b>Full presidential system</b>, where no members of the cabinet are members of the legislature. e.g. the {% include wp.html link="United States" art="Politics_of_the_United_States" puncr="." %} The president is head of the executive and is either directly elected, or indirectly by an {% include wp.html link="electoral college" puncr="." %} </li>
                <li><b>Mixed system</b>, where members of the cabinet, aside from the president, can be members of and/or accountable to the legislature. Extant examples include {% include wp.html link="Argentina" art="Politics_of_Argentina" %} and {% include wp.html link="Zimbabwe" art="Politics_of_Zimbabwe" puncr="." %}</li>
                <li><b>Legislature-elected presidential system</b>, where the president is elected by the legislature, but thereafter not accountable to it, aside from when it is time to renew their term. {% include wp.html link="Suriname" art="Politics_of_Suriname" %} is the best example, although some have called it a parliamentary system, just with minimal checks and balances.</li>
            </ol>
    </li>
</ul>
<ol start="4">
    <li>{% include wp.html link="Directorial system" f="b" puncr="," %} where a board of people elected by the legislature simultaneously serve as both head of state and head of government. Members of the executive serve for fixed terms and cannot be dismissed by no confidence votes. Examples include: {% include wp.html link="San Marino" %} and {% include wp.html link="Switzerland" puncr="." %}</li>
</ol>
<ul>
    <li>
        {% include wp.html link="Semi-presidential systems" art="Semi-presidential_system" f="b" puncr=":" %}
            <ol start="5">
                <li>{% include wp.html link="President-parliamentarism" puncr="," f="b" %} a subtype of semi-presidential system where the directly elected president not only appoints the cabinet members, but can dismiss them, and they can also be dismissed by the legislature. The PM is technically the head of government and serves as chairman of the cabinet. Taiwan, the Weimar Republic and Russia are prime examples.</li>
                <li>{% include wp.html link="Premier-presidentialism" puncr="," f="b" %} another subtype of semi-presidentialism, except where the directly elected president cannot dismiss the ministers on their own and usually has limited power over the legislature. France, Poland and the Ukraine are prime examples. </li>
            </ol>
    </li>
    <li>
        {% include wp.html link="Parliamentary system" art="Parliamentary_system" f="b" puncr="," %} where members of the executive (called ministers or secretaries) are accountable to the legislature (parliament) and can be dismissed by it via a vote of no confidence:
            <ol start="7">
                <li><b>Parliamentary republic with a fused head of state and head of government position</b> that is dependent on parliamentary confidence in order to remain in office. They are also elected by the legislature and sometimes also have a seat in it. Botswana, Nauru and South Africa are perhaps the best examples, although in Botswana's case a vote of no confidence does not automatically lead to the head of government's dismissal, but if they do not resign it automatically triggers the dissolution of the Parliament after a certain amount of time.</li>
                <li>{% include wp.html link="Semi-parliamentarism" puncr="," f="b" %} where either: (1) the head of government is elected directly by the voters (e.g. Israel prior to 2001), but is accountable to the legislature; or (2) the legislature is bicameral, with both houses directly elected and the government only being accountable to one of those two houses (e.g. Australia's federal government, along with the state governments of three out of six states, namely&mdash;South Australia, Tasmania and Western Australia, and the national government of Japan). All examples of this system in recent history have also had at least some Westminster characteristics.</li>
                <li><b>Non-Westminster parliamentary system</b>, where members of the executive are not members of the parliament. In these systems there is more "separation of powers" than there is in Westminster systems.</li>
            </ol>
            <ul>
                <li>{% include wp.html link="Westminster system" puncr="," f="b" %} where members of the executive are also elected members of the parliament and are only subject to votes of no confidence from the lower house of the parliament:</li>
                <ol start="10">
                    <li><b>{% include wp.html link="Proportionally representative" art="Proportional_representation" %} Westminster system</b>, where a proportional representation system is used to elect the lower house of the legislature. In contrast to traditional westminster systems where a single party or coalition dictates policy, in proportionally representative systems, due to the fragmented nature of the legislature, a consensus needs to be built in order for legislation to be passed. {% include wp.html link="New Zealand" %} is perhaps the single best example.</li>
                    <li><b>Disintermediated Westminster system</b>, where at least some of the powers constitutionally vested in the head of state/their representative in the traditional Westminster model and exercised on the advice of the ministers/the parliament are instead directly vested in the ministers/parliament. Examples include Ireland, Israel and Japan.</li>
                    <li><b>Traditional Westminster system</b>, where the head of state/their representative has complete executive power, along with powers over the parliament (e.g. the ability to dissolve it, prorogue it, give assent to legislation, <i>etc.</i>), although based on convention they only exercise their powers on the advice of the ministers and, in some cases, the parliament. Traditional Westminster systems also have the following features:
                        <ul>
                            <li>{% include wp.html link="parliamentary sovereignty" puncr="," %} where the parliament is more powerful than all other organs of government, with the ability to dismiss them and/or abolish them and can pass, repeal or amend any law it chooses to;</li>
                            <li>a lower house elected by {% include wp.html link="first-past-the-post" puncr=";" %} and</li>
                            <li>an unelected upper house. Arguably, those with a unicameral legislature differ so minimally from the original Westminster system that they still fit the mould of the traditional Westminster system.</li>
                        </ul>
                    </li>
                </ol>
            </ul>
    </li>
</ul>