<html>

<body>
<table cellspacing="0">
	<colgroup width="110"></colgroup>
	<tr>
		<td bgcolor="#55308D" style="font-weight: bold;"><font color="#FFFFFF">Date</font></td>
		<td bgcolor="#55308D" style="font-weight: bold;"><font color="#FFFFFF">Significance</font></td>
		<td bgcolor="#55308D" style="font-weight: bold;"><font color="#FFFFFF">Pros as Australia Day</font></td>
		<td bgcolor="#55308D" style="font-weight: bold;"><font color="#FFFFFF">Cons as Australia Day</font></td>
	</tr>
	{% for row in site.data.australia-day-proposals.body %}
	<tr>
		<td height="79" valign=middle bgcolor="#{{ row.bg }}" sdval="43466" sdnum="3081;0;D MMM"><font color="#{% if row.colour %}{{ row.colour }}{% else %}000000{% endif %}">{{ row.date }}</font></td>
		<td valign=middle bgcolor="#{{ row.bg }}"><font color="#{% if row.colour %}{{ row.colour }}{% else %}000000{% endif %}">{{ row.sig }}</font></td>
		<td valign=middle bgcolor="#{{ row.bg }}"><font color="#{% if row.colour %}{{ row.colour }}{% else %}000000{% endif %}">{{ row.pros }}</font></td>
		<td valign=middle bgcolor="#{{ row.bg }}"><font color="#{% if row.colour %}{{ row.colour }}{% else %}000000{% endif %}">{{ row.cons }}</font></td>
	</tr>
	{% endfor %}
	<tr>
		<td colspan=4>
			<b>Legend</b>:
			<ol>
				<li>Those days with a <span style="background-color: #29F2FF; padding: 5px;">cyan</span> background are those of general constitutional significance.</li>
				<li>The <span style="background-color: #5EB91E; padding: 5px;">green</span> background is for the day that is presently used as Australia Day, 26 January.</li>
				<li>The <span style="background-color: #3465A4; color:white; padding: 5px;">blue</span> background is for days of general democratic significance.</li>
				<li>The <span style="background-color: #FF6D6D; padding: 5px;">red</span> background is for days of indigenous significance.</li>
				<li>The <span style="background-color: #FFFF38; padding: 5px;">yellow</span> background is for other days.</li>
			</ol>
		</td>
	</tr>
</table>
</body>
</html>
