<table id = "table1" cellpadding="4" cellspacing="0" style="page-break-after: avoid">
	<!--120-->
	<col width="{{ site.data.sysofgov.country-width }}"/>

	<!--300-->
	<col width="{{ site.data.sysofgov.sysofgov-width }}"/>

	<!--400-->
	<col width="{{ site.data.sysofgov.legislature-width }}"/>

	<!--180-->
	<col width="{{ site.data.sysofgov.lower-house-width }}"/>

	<!--245-->
	<col width="{{ site.data.sysofgov.lower-house-app-method-width }}"/>

	<!--140-->
	<col width="{{ site.data.sysofgov.upper-house-width }}"/>

	<col width="{{ site.data.sysofgov.upper-house-app-method-width }}"/>

	<col width="{{ site.data.sysofgov.house-powers-width }}"/>


	<!--<col width="400"/>-->

	<tr valign="top">
		<td colspan="8" style="background: transparent; border-bottom: none; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0.1cm; padding-bottom: 0.0cm; padding-left: 0.5cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 20pt;">
					<b>
						{{ site.data.sysofgov.caption }}
					</b>
				</font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Country</span>
					</b>
				</font>
			</p>
		</td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">System</span>
					</b>
				</font>
			</p>
		</td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Legislature</span>
					</b>
				</font>
			</p>
		</td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">
							Lower house (LH)
						</span>
					</b>
				</font>
			</p>
		</td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Appointment method</span>
					</b>
				</font>
			</p>
		</td>
		<td style="background: transparent" style="border: 1px solid #000000; padding: 0.1cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">
							Upper house (UH)
						</span>
					</b>
				</font>
			</p>
		</td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">Appointment method</span>
					</b>
				</font>
			</p>
		</td>
		<td style="background: transparent" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 13pt;">
					<b>
						<span style="text-decoration: none">House powers</span>
					</b>
				</font>
			</p>
		</td>
	</tr>
	
	{% for row in site.data.sysofgov.body %}
	<tr>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none;;">
						<a href="https://en.wikipedia.org/wiki/{{ row.country }}" link="_blank">
							{{ row.country }}
						</a>
					</span>
				</font>
			</p>
		</td>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none;;">
						{{ row.sysofgov }}
					</span>
				</font>
			</p>
		</td>
		{% if row.lower-house %}
		<td valign="top" style="background: transparent;" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						<a href="https://en.wikipedia.org/wiki/{% if row.legislature-art %}{{ row.legislature-art }}{% else %}{{ row.legislature }}{% endif %}" link="_blank">
							{{ row.legislature }}
						</a>
					</span>
				</font>
			</p>
		</td>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						<a href="https://en.wikipedia.org/wiki/{% if row.lower-house-art %}{{ row.lower-house-art }}{% else %}{{ row.lower-house }}{% endif %}" link="_blank">
							{{ row.lower-house }}
						</a>
					</span>
				</font>
			</p>
		</td>
		{% else %}
		<td colspan="2" valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="center" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						<a href="https://en.wikipedia.org/wiki/{% if row.legislature-art %}{{ row.legislature-art }}{% else %}{{ row.legislature }}{% endif %}" link="_blank">
							{{ row.legislature }}
						</a>
					</span>
				</font>
			</p>
		</td>
		{% endif %}
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{% if row.lower-house-app %}
						{% if row.lower-house-app-art %}<a href="https://en.wikipedia.org/wiki/{{ row.lower-house-app-art }}" link="_blank">
							{{ row.lower-house-app }}
						</a>{% else %}{{ row.lower-house-app }}{% endif %}
						{% elsif row.legislature-app %}
						<a href="https://en.wikipedia.org/wiki/{{ row.legislature-app-art }}" link="_blank">
							{{ row.legislature-app }}
						</a>
						{% endif %}
					</span>
				</font>
			</p>
		</td>
		{% if row.upper-house %}
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						<a href="https://en.wikipedia.org/wiki/{% if row.upper-house-art %}{{ row.upper-house-art }}{% else %}{{ row.upper-house }}{% endif %}" link="_blank">
							{{ row.upper-house }}
						</a>
					</span>
				</font>
			</p>
		</td>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{% if row.upper-house-app-art %}<a href="https://en.wikipedia.org/wiki/{{ row.upper-house-app-art }}" link="_blank">
							{{ row.upper-house-app }}
						</a>{% else %}{{ row.upper-house-app }}{% endif %}
					</span>
				</font>
			</p>
		</td>
		<td valign="top" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">
						{{ row.house-powers }}
					</span>
				</font>
			</p>
		</td>
		{% else %}
		<td colspan="3" style="background: transparent" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<p align="center" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none">No upper house{% if row.upper-house-abolition-date %} since {{ row.upper-house-abolition-date }}{% endif %}</span>
				</font>
			</p>
		</td>
		{% endif %}
	</tr>
	{% endfor %}
	<tr valign="top">
		<td colspan="8" style="background: transparent; border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="left" style="font-style: normal; font-weight: normal; text-decoration: none">
				<font color="#000000" size="3" face="Liberation Serif, serif" style="font-size: 12pt;">
					<span style="text-decoration: none"><span style="font-size: 20px;"><b>Footnotes</b></span><br/>
						<ol>
							{% for row in site.data.sysofgov.footnotes %}
							<li>{{ row.entry }}</li>
							{% endfor %}
						</ol>
					<span style="font-size: 20px;"><b>Acronyms</b></span><br/>
						<!--a/r: accept or reject.-->
						<b>CLPLPR</b>: closed list party-list proportional representation.<br/>
						<b>DR</b>: directorial republic.<br/>
						<b>FLPLPR</b>: free list party-list proportional representation or panachage.<br/>
						<b>FPTP</b>: first-past-the-post.<br/>
<!--						<b>HLPs</b>: house legislative powers.<br/>
						<div style="text-indent: 30px;">
							"1" denotes UH and LH have equal legislative powers.
						</div><br/>
						<div style="text-indent: 30px;">
							"2" denotes UH lacks the ability to introduce or amend money bill, but is otherwise on equal footing.
						</div><br/>
						<div style="text-indent: 30px;">
							"3" indicates that there is a procedure whereby if LH and UH cannot agree the decision may be handed by the government to LH. Otherwise the two have equal powers.
						</div><br/>
						<div style="text-indent: 30px;">
							"4" denotes UH can only accept or reject legislation.
						</div><br/>
						<div style="text-indent: 30px;">
							"5" denotes that UH's approval is only needed in some cases. UH may, in the case of some legislatures, introduce only selected types of bills.
						</div><br/>
						<div style="text-indent: 30px;">
							"6" denotes that the LH can override the UH by a two-thirds majority vote in favour. A negotiation process is in place to overcome disagreements as well.
						</div><br/>
						<div style="text-indent: 30px;">
							"7" indicates that UH can only delay the passing of bills.
						</div><br/>-->
						<b>GG</b>: governor-general.<br/>
						<b>IRV</b>: instant-runoff voting.<br/>
						<b>MMPR</b>: mixed-member proportional representation.<br/>
						<b>OLPLPR</b>: open list party-list proportional representation.<br/>
						<b>PCM</b>: parliamentary constitutional monarchy.<br/>
						<b>PLV</b>: plurality voting.<br/>
						<b>PM</b>: prime minister.<br/>
						<b>PPMR</b>: president-parliamentary republic.<br/>
						<b>PPR</b>: premier-presidential republic.<br/>
						<b>PR</b>: presidential republic.<br/>
						<b>PRCP</b>: parliamentary republic with a ceremonial presidency.<br/>
						<b>PREP</b>: parliamentary republic with an executive presidency.<br/>
						<b>PRep</b>: proportional representation.<br/>
						<b>PV</b>: parallel voting.<br/>
						<b>SNTV</b>: single non-transferable vote.<br/>
						<b>STV</b>: single transferable vote.<br/>
						<b>TRV</b>: Two-round voting.
					</span>
				</font>
			</p>
		</td>
	</tr>
</table>
<p><br/>
<br/>